apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: db
spec:
  selector:
    matchLabels:
      app: db
      role: master
      tier: backend
  replicas: 1
  template:
    metadata:
      labels:
        app: db
        role: master
        tier: backend
    spec:
      containers:
      - name: db
        image: postgres
        ports:
        - containerPort: 5432
        volumeMounts:
          - name: data
            mountPath: /var/lib/postgresql/data
            subPath: data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: data
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: data
  annotations:
    volume.alpha.kubernetes.io/storage-class: default
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 5Gi
